@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    overflow-y: scroll; /* Enables vertical scrolling */
    scrollbar-width: none; /* For Firefox */
  }
  
  .sidebar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  